train:
  data:
    input_nc: 3
    output_nc: 3
    patch_size: 2048
    downsample: 8 # patch的下采样等级
    max_src_samples: -1
    load_in_ram: true
  model:
    model_name: cut
    init_gain: 0.02
    init_type: normal
    no_antialias: true
    no_antialias_up: true
    discriminator:
      n_layers_D: 3
      ndf: 32
      netD: n_layers
      normD: instance
    generator:
      netG: resnet_9blocks
      ngf: 32
      normG: instance
    projector:
      netF: mlp_sample
      netF_nc: 256
      num_patches: 256
    estimator:
      nef: 128
      n_blocks: 4
      norm: instance
  params:
    seed: 0
    epoch: 0
    n_epochs: 100
    n_epochs_decay: 50
    patch_batch_size: 96 # cut : 24 * 8 # cpt : 16 * 8 # cyclegan : 8 * 8
    patch_batch_size_per_gpu: 16
    # Swinv2 tiny VisEnc Setting
    # patch_batch_size: 512
    # patch_batch_size_per_gpu: 64
    patch_norm: true
    patch_clip: true
    num_workers: 16
    loss:
      gan_loss:
        flip_equivariance: false
        gan_mode: lsgan
        lambda_NCE: 1
        nce_T: 0.07
        nce_idt: true
        nce_includes_all_negatives_from_minibatch: false
        nce_layers: 0,4,8,12,16
        nce_num_patches: 256
        lambda_asp: 1.0
        lambda_gp: 1.0
        asp_loss_mode: none
        lambda_infoNCE: 1.0
        disc_optim_freq: 5
        temperature_infoNCE: 0.01
        symmetric_infoNCE: true
    optimizer:
      class: Adam
      lr: #  0.0002; 训练concut时需要调整为 0.00002 否则会出现梯度爆炸
        lr_D: 0.0002
        lr_G: 0.0002
        lr_E: 0.0002
        lr_I: 1.0e-05
        lr_decay_iters: 50
        lr_policy: linear
      params:
        beta1: 0.5
        beta2: 0.999
    save:
      continue_train: false
      epoch_count: 1
      loss_logging_freq: 50
      save_model_freq: 5
test:
  run_id: ''
  is_apply_tissue_mask: true
  is_visualize: true
  patch_batch_size: 8
  n_img: 10
  save_stack: true
