train:
  data:
    input_nc: 3
    output_nc: 3
    patch_size: 2048
    downsample: 2
    resize_size: 512
    crop_size: 256
    max_src_samples: -1
    load_in_ram: true
  model:
    model_name: cut
    init_gain: 0.02
    init_type: normal
    no_antialias: false
    no_antialias_up: false
    discriminator:
      input_nc: 3
      n_layers_D: 5
      ndf: 64
      netD: n_layers
      normD: instance
    generator:
      netG: resnet_6blocks
      ngf: 64
      normG: instance
    projector:
      netF: mlp_sample
      netF_nc: 256
      num_patches: 256
    estimator:
      nef: 128
      n_blocks: 4
      norm: instance
  params:
    seed: 0
    epoch: 0
    n_epochs: 100
    n_epochs_decay: 50
    patch_batch_size: 64 
    patch_batch_size_per_gpu: 16
    patch_norm: true
    patch_clip: true
    num_workers: 16
    proto:
      n_prototypes: 16
      proto_momentum: 0.99
      proto_dim: 256
      warm_up_epochs: 5
      sigma_start: 0.2
      sigma_end: 0.1
    dispersion:
      type: dispersion
      lambda_dfl: 0.1
      lambda_dpl: 0.1
      kappa: 5.0
    loss:
      gan_loss:
        flip_equivariance: false
        gan_mode: lsgan
        lambda_NCE: 1
        nce_T: 0.07
        nce_idt: false
        nce_includes_all_negatives_from_minibatch: false
        nce_layers: 4,8,12,16
        nce_num_patches: 256
        lambda_asp: 10.0
        lambda_gp: 1.0
        asp_loss_mode: none
        lambda_align: 1.0
        T_align: 0.2
        T_R: 0.07
        T_S: 0.05
        capacity_factor: 2.0
    optimizer:
      class: Adam
      lr:
        lr_D: 0.0002
        lr_G: 0.0002
        lr_E: 0.0002
        lr_I: 1.0e-05
        lr_decay_iters: 50
        lr_policy: linear
      params:
        beta1: 0.5
        beta2: 0.999
    save:
      continue_train: false
      epoch_count: 1
      loss_logging_freq: 10
      save_model_freq: 100
test:
  run_id: ''
  is_apply_tissue_mask: true
  is_visualize: true
  patch_batch_size: 32
  n_img: 10
  save_stack: true
